attrs==18.2.0
backcall==0.1.0
certifi==2018.11.29
chardet==3.0.4
Click==7.0
click-plugins==1.0.4
cligj==0.5.0
colorama==0.4.1
cycler==0.10.0
decorator==4.3.2
descartes==1.1.0
Fiona==1.8.4
GDAL==2.4.0
geopandas==0.4.0
idna==2.8
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.2
jupyter-client==5.2.4
jupyter-core==4.4.0
kiwisolver==1.0.1
matplotlib==3.0.2
mkl-fft==1.0.10
mkl-random==1.0.2
munch==2.3.2
numpy==1.15.4
osmapi==1.2.2
pandas==0.24.0
parso==0.3.2
patsy==0.5.1
pickleshare==0.7.5
prompt-toolkit==2.0.7
psycopg2==2.7.6.1
Pygments==2.3.1
pyparsing==2.3.1
pyproj==1.9.6
PySAL==1.14.4.post2
python-dateutil==2.7.5
pytz==2018.9
pyzmq==17.1.2
requests==2.21.0
Rtree==0.8.3
scipy==1.2.0
seaborn==0.9.0
Shapely==1.6.4.post2
six==1.12.0
SQLAlchemy==1.2.16
statsmodels==0.9.0
tornado==5.1.1
traitlets==4.3.2
urllib3==1.24.1
utm==0.4.2
wcwidth==0.1.7
wincertstore==0.2
